<a href="https://colab.research.google.com/github/marcusdasilva96/PYTH_Homework_Submissions/blob/master/HW_1_Basic_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

variable = None    # None is a data type called "null"
print(variable)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

my_fav_number = 1          # Represents my favorite number
print(my_fav_number)

# Create another variable that represents your favorite color, and do the same steps as above.

my_fav_color = "white"     # Represents my favorite color
print(my_fav_color)

1
white



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

be_happy_lines = """
this
  is
   a
 song
"""
print(be_happy_lines)

this
  is
   a
 song



## TYPECASTING

### P1.PY

In [16]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22


# Five

int_to_float = float(five)
print(int_to_float)
print(type(int_to_float)) 
float_to_int = int(int_to_float)
print(float_to_int)
print(type(float_to_int))


# Zero

f_zero = float(zero)
print(f_zero)
print(type(f_zero))
i_zero = int(f_zero)
print(i_zero)
print(type(i_zero))


# Neg_8

f_neg_8 = float(neg_8)
print(f_neg_8)
print(type(f_neg_8))
i_neg_8 = int(f_neg_8)
print(i_neg_8)
print(type(i_neg_8))


# Neg 22

f_neg_22 = float(neg_22)
print(f_neg_22)
print(type(f_neg_22))
i_neg_22 = int(f_neg_22)
print(i_neg_22)
print(type(i_neg_22))

5.0
<class 'float'>
5
<class 'int'>
0.0
<class 'float'>
0
<class 'int'>
-8.0
<class 'float'>
-8
<class 'int'>
-22.0
<class 'float'>
-22
<class 'int'>



### P2.PY

In [19]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False


# Five

int_to_str = str(five)         
str_to_int = int(int_to_str)               
print(int_to_str)
print(type(int_to_str))
print(str_to_int)
print(type(str_to_int))


# T

bool_to_str = str(T)
str_to_bool = bool(bool_to_str)
print(bool_to_str)
print(type(bool_to_str))
print(str_to_bool)
print(type(str_to_bool))

5
<class 'str'>
5
<class 'int'>
True
<class 'str'>
True
<class 'bool'>



### P3.PY

In [23]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

var_to_bool1 = bool(one)
print(var_to_bool1)
print(type(var_to_bool1))

var_to_bool2 = bool(zero)
print(var_to_bool2)
print(type(var_to_bool2))


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

f_var1 = float(var_to_bool1)
print(f_var1)
print(type(f_var1))

f_var2 = float(var_to_bool2)
print(f_var2)
print(type(f_var2))


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

b_var1 = bool(f_var1)
print(b_var1)
print(type(b_var1))

b_var2 = bool(f_var2)
print(b_var2)
print(type(b_var2))


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

i_var1 = int(b_var1)
print(i_var1)
print(type(i_var1))

i_var2 = int(b_var2)
print(i_var2)
print(type(i_var2))


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

b_ten = bool(ten)
print(b_ten)
print(type(b_ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [26]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

b_one = bool(one)
b_zero = bool(zero)
b_true = bool(bool_true)
b_false = bool(bool_false)

print(b_one)
print(type(b_one))
print(b_zero)
print(type(b_zero))
print(b_true)
print(type(b_true))
print(b_false)
print(type(b_false))


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

i_one = int(b_one)
print(i_one)
print(type(i_one))

i_zero = int(b_zero)
print(i_zero)
print(type(i_zero))


# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

b2_true = bool(b_true)
print(b2_true)
print(type(b2_true))

b2_false = bool(b_false)
print(b2_false)
print(type(b2_false))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>



## OPERATORS

### P1.PY

In [0]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

orig_var = orig_var + 50       # could also be orig_var += 50
print(orig_var)

# Subtract 90

orig_var = orig_var - 90
print(orig_var)

# Multiply 10

orig_var = orig_var * 10
print(orig_var)

# Divide 150

orig_var = orig_var / 150
print(orig_var)

# Modulus 3 (that is the remainder)

orig_var = orig_var % 3
print(orig_var)

150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

var1 = "I am going"
var2 = " swimming"

var3 = var1 + var2
print(var3)

I am going swimming



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2
x = a + b
print(x)   


# B)
c = '0'
d = '2'
y = int(c) + int(d)
print(y)


# C)
e = "0"
f = 2
z = int(e) + f
print(z)

2
2
2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

x = a + b
print(x)


# B)
c = False
d = False

z = c + d
print (z)

# C)
e = True
f = False

y = e + f
print(y)

2
0
1